---
import IconSvg from "../IconSvg.astro";

interface Props {
  brandData: any;
}

const { brandData } = Astro.props;

// Если нет в ответе faq то пишем свои
const faq = brandData.faq || [
  {
    q: "В чем различие разнорабочих и грузчиков?",
    a: "Разнорабочие могут выполнять более широкий спектр работ, например: грузчики могут осуществить только погрузку и разгрузку во время переезда, а разнорабочие смогут и разобрать дорогостоящую мебель, и заняться ее упаковкой.",
  },
  {
    q: "На каких объектах могут работать грузчики?",
    a: "Исполнители, сотрудничающие с компанией «Главный рабочий» оказывают услуги на любых объектах: как мобильных, так и стационарных.",
  },
  {
    q: "Можно ли заказать погрузо-разгрузочные работы, если я нахожусь в другом месте?",
    a: "Да, только по предоплате. Предупредите менеджера о вашем отсутствии.",
  },
  {
    q: "Можете ли вы сориентировать, сколько мне нужно грузчиков?",
    a: "Точное количество рабочих сообщит менеджер по телефону, уточнив детали заказа.",
  },
  {
    q: "Возможен ли выезд оценщика для оценки стоимости проведения работ?",
    a: "Да, данная услуга является дополнительной. Стоимость уточняйте у менеджера.",
  },
  { q: "Можно ли заказать грузчиков срочно?", a: "Да, мы отправим необходимое количество исполнителей в кратчайшие сроки." },
  {
    q: "Предоставляете ли вы отсрочку платежа?",
    a: "Конечно, но предоставление отсрочки обсуждается индивидуально. Уточните данную возможность у менеджера.",
  },
  {
    q: "Вы можете помочь рассчитать итоговую стоимость переезда?",
    a: "Итоговая стоимость переезда будет озвучена менеджером после просчета Вашего заказа. Менеджер сообщит вам примерную стоимость типовых работ по телефону.",
  },
  {
    q: "Как узнать, сколько времени займет переезд",
    a: "Время переезда напрямую зависит от удаленности, габаритов и размеров пролетов. Примерное время по телефону озвучит менеджер.",
  },
];
---

<section data-cmp="FAQ">
  <div class="container">
    <div class="max-w-230 mx-auto py-8 md:py-10 lg:py-20">
      <h2 class="typo-h2 mb-8 md:12 lg:mb-16">Частые вопросы</h2>
      <div class="flex flex-col gap-4">
        {
          faq.map((item: any) => (
            <details class="_faq-item">
              <summary class="flex justify-between items-center gap-8 py-5 lg:py-6 px-4 lg:px-8 rounded-sm bg-surface-secondary cursor-pointer">
                <span class="text-text-primary typo-t2">{item.q}</span>
                <IconSvg name="chevron-down" />
              </summary>
              <div class="px-4 lg:px-8 typo-t3">{item.a}</div>
            </details>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style is:global>
  [data-cmp="FAQ"] {
    & ._faq-item::details-content {
      display: flex;
      height: 0;
      opacity: 0;
      overflow: clip;
      transition:
        height 0.33s,
        opacity 0.33s,
        padding 0.33s,
        content-visibility 0.33s allow-discrete;
      will-change: height, opacity, content-visibility, padding;
    }

    & ._faq-item[open]::details-content {
      height: max-content;
      padding-block: 1rem 1.5rem;
      opacity: 1;
    }

    & ._faq-item[open] svg {
      transform: rotate(180deg);
    }
  }
</style>
