---
import Button from "@/components/ui/Button.astro";

import HeroFeatures from "../blocks/HeroFeatures.astro";

interface Props {
  brandData: any;
  type: "main" | "about";
}

const { brandData, type = "main" } = Astro.props;

const firstServiceUrl = brandData.services[0].url.toLowerCase();
---

{
  type == "main" && (
    <section
      class="hero grid grid-cols-[100%] min-h-[730px] bg-hero-main-surface text-hero-main-text overflow-clip"
      data-cmp="Hero"
    >
      <div class="container h-full isolate">
        <div class="_hero-inner grid grid-cols-1 lg:grid-cols-2 items-start lg:items-center h-full">
          <div class="_hero-content flex flex-col gap-6 lg:gap-10 pt-8 lg:py-8">
            <h1 class="_hero-title typo-h1 text-left text-balance">Рабочий персонал от лидера рынка в России</h1>

            <HeroFeatures />

            <div class="_hero-actions flex flex-col lg:flex-row items-start lg:items-center gap-6 lg:gap-8">
              <div class="_hero-actions-items">
                <Button href="#kp" variant="accent" text="Получить КП" />
              </div>

              <p class="_hero-actions-description max-w-100 typo-t4 text-balance">
                Предоставим персонал для разных видов работ — быстро, качественно и вовремя
              </p>
            </div>
          </div>
          <div class="relative -z-1 self-end justify-self-end lg:origin-bottom scale-150 lg:scale-125 pointer-none">
            <img class="" src="/images/hero-main.webp" alt="" fetchpriority="high" />
          </div>
        </div>
      </div>
    </section>
  )
}

{
  type == "about" && (
    <section
      class="hero grid grid-cols-[100%] min-h-[600px] bg-hero-about-surface text-hero-about-text overflow-clip isolate"
      data-cmp="Hero"
    >
      <div class="container h-full">
        <div class="_hero-inner relative grid grid-cols-1 lg:grid-cols-2 items-start lg:items-center h-full ">
          <div class="_hero-content flex flex-col gap-10 py-8">
            <h1 class="_hero-title typo-h1 text-left text-balance">Успешно оказываем услуги 15 лет</h1>

            <p class="_hero-description typo-t3 max-w-92 text-balance">
              Мы предлагаем надёжные услуги по грузоперевозкам и предоставлению разнорабочих. Работаем оперативно и учитываем потребности
              каждого клиента.
            </p>

            <div class="_hero-actions flex items-center gap-8">
              <div class="_hero-actions-items">
                <Button href={`/${firstServiceUrl}`} variant="secondary" text="Наши услуги" />
              </div>
            </div>
          </div>

          <div class="_hero-image self-end origin-bottom lg:scale-150">
            <img src="/images/hero-about.webp" alt="" fetchpriority="high" />
          </div>
        </div>
      </div>
    </section>
  )
}
