---
import Button from "@/components/ui/Button.astro";
---

<aside
  class="flex flex-col lg:flex-row items-center gap-10 max-w-140 px-5 pt-5 lg:px-12 lg:pt-7 border border-appskilla-border rounded-xl bg-appskilla-surface bg-[radial-gradient(73.8%_59.19%_at_73.74%_100%,rgba(255,204,0,0.5)_0%,rgba(36,36,38,0)_100%)]"
  data-cmp="BlockAppSkilla"
>
  <div class="pb-7 text-appskilla-text">
    <p class="typo-t1">Личный кабинет</p>
    <p class="typo-t3 mt-4 mb-6">Мы работаем на платформе Скилла Работа. Вы всегда сможете следить за статусом исполнения заказа.</p>
    <Button href="#link-to..." variant="secondary" inverse text="Подробнее" />
  </div>

  <img src="/images/app.webp" alt="Изображение интерфейса мобильного приложения Скилла Работа" loading="lazy" />
</aside>
