---
import Button from "../ui/Button.astro";
import BlockMessengersLinks from "./BlockMessengersLinks.astro";

import type { BrandData } from "@/types/brand";

interface Props {
  brandData: BrandData;
}

const { brandData } = Astro.props;
---

<div
  class="flex flex-col lg:flex-row justify-between gap-6 mt-20 p-6 lg:p-10 rounded-xl bg-cta-surface text-cta-text"
  data-cmp="CtaCall"
>
  <p class="typo-t2 max-w-[20rem] mr-auto">
    Свяжитесь с нами и мы расчитаем точную стоимость под ваши задачи
  </p>

  <div class="flex">
    <Button class="w-full lg:w-auto" href="#contact" variant="accent" text="Позвонить" />

    <BlockMessengersLinks class="text-text-secondary-inverse" {brandData} />
  </div>
</div>
